{% extends 'admin/base.html.twig' %}
{% block title %}Delete Group{% endblock %}

{% block content %}
<h4 class="page-title">Delete Group</h4>
<div class="card z-depth-1">
    <div class="card-content">
        <p>Delete the group <strong>{{ group.name|e }}</strong>?</p>
        <p class="grey-text">This removes all its members and forum permission grants. This cannot be undone.</p>
    </div>
    <div class="card-action">
        <form method="post" style="display:inline">
            {{ csrf_field() }}
            <button type="submit" class="btn red darken-2 waves-effect waves-light">
                <i class="material-icons left">remove_circle</i>Delete
            </button>
        </form>
        <a href="{{ path('/admin/groups') }}" class="btn-flat waves-effect">Cancel</a>
    </div>
</div>
{% endblock %}
